body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.tag{
    font-weight: bold;
    text-align: center;
    font-family:sans-serif;
    color:green;
    font-size: 200%;
}
